  * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: 'Segoe UI', Arial, sans-serif;
  }

  html,
  body {
      max-width: 100%;
      overflow-x: hidden;
      overflow-y: scroll;
      min-height: 100vh;
      height: auto;

      scroll-behavior: smooth;
      background: #fff;
      color: #333;
  }

  /* ================= NAV ================= */

  nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 20px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
      z-index: 1000;
  }

  .logo {
      display: flex;
      align-items: center;
      gap: 10px;
      text-decoration: none;
  }

  .isim h3 {
      color: rgb(173, 87, 1);
      font-size: 1.3rem;
      font-weight: 800;
      font-family: cursive;
  }

  .isim p {
      color: rgb(173, 87, 1);
      font-family: cursive;
      font-size: 1rem;
  }

  .logo img {
      width: 48px;
      height: 48px;
  }

  .social-media {
      display: flex;
      align-items: center;
  }

  .insta-real {
      width: 27px;
      height: 27px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 12px;
      text-decoration: none;

      /* Instagram gerçek gradient */
      background: radial-gradient(circle at 30% 107%,
              #fdf497 0%,
              #fdf497 5%,
              #fd5949 45%,
              #d6249f 60%,
              #285AEB 90%);

      transition: 0.3s ease;
  }

  .insta-real i {
      color: #fff;
      font-size: 20px;
  }

  /* Hover efekti */
  .insta-real:hover {
      transform: scale(1.08);
      box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
  }


  .linklerim {
      display: flex;
      gap: 10px;
      list-style: none;
  }

  .menu-oge {
      position: relative;
      padding: 8px 14px;
      font-weight: 500;
      cursor: pointer;
  }

  .menu-oge a {
      text-decoration: none;
      color: #121111;
      display: block;
  }

  .menu-oge:hover {
      background: rgb(13, 148, 13);
  }

  /* ===== DESKTOP DROPDOWN ===== */

  .altlink {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background: #fff;
      list-style: none;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      width: 200px;
  }

  .acilir:hover .altlink {
      display: block;
  }

  .altlink li a {
      padding: 10px 14px;
      display: block;
      color: #333;
  }

  .altlink li a:hover {
      background: rgb(81, 189, 81);
      color: #fff;
  }

  /* ================= MOBILE ================= */

  .menu-toggle {
      display: none;
      width: 35px;
      height: 35px;
      background: rgb(13, 148, 13);
      border: none;
      border-radius: 5px;
      cursor: pointer;
  }

  .menu-toggle i {
      color: white;
  }



  /* SLIDER */
  header {
      margin-top: 80x;
      overflow: hidden;
  }

  .slider {
      height: 85vh;
      display: flex;
      transition: transform 0.8s ease-in-out;
  }

  .slide {
      min-width: 100%;
      height: 85vh;
      /* background: radial-gradient(circle at top, #7a47a1 0%, #360946 70%); */
      background-color: #222;
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: #fff;
  }

  .overlay {
      background: rgba(0, 0, 0, 0.5);
      padding: 60px 20px;
      width: 100%;
  }

  .overlay h1 {
      font-size: 44px;
      margin-bottom: 15px;
  }

  .overlay p {
      font-size: 20px;
  }

  .container {
      padding: 80px 15px;
      max-width: 1300px;
      margin: auto;
  }





  .ikinci-bolum {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      gap: 25px;
      margin-top: 2rem;

  }


  /* === GRID YAPI === */
  .birinci-bolum {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
      gap: 25px;
  }

  /* === KART === */
  .kart {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 20px;
      background-color: #fff;
  }

  /* === RESİM === */
  .ilkalan-resim {

      width: 100%;
      max-height: 250px;

      object-fit: contain;
      background: transparent;

      filter:
          drop-shadow(0 10px 18px rgb(255, 255, 255)) drop-shadow(0 0 20px rgba(157, 155, 155, 0.15));

      transform: perspective(800px) translateZ(12px);
      transition: transform 0.35s ease, filter 0.35s ease;
  }


  /* === AÇIKLAMA === */
  .aciklama {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 22px;

      opacity: 0;
      transform: translateY(60px);

      transition: all 0.9s ease;

      word-break: normal;
      overflow-wrap: break-word;
  }

  /* === SCROLL AKTİF === */
  .aciklama.aktif5 {
      opacity: 1;
      transform: translateY(0);
  }

  /* === METİN STİLLERİ === */
  .aciklama h2 {
      margin-bottom: 5px;
  }

  .aciklama h3 {
      margin-top: 10px;
      font-size: 1rem;
  }

  .aciklama p {
      line-height: 1.6;
  }

  .aciklama ul {
      padding-left: 20px;
  }

  .aciklama li {
      margin-bottom: 6px;
  }


  .kart>h2,
  .kart2 h2 {
      font-size: 25px;
      margin: 0;
      text-align: center;
      word-break: keep-all;
      line-height: 1.8;
  }

  .kart p {

      margin-top: 0;
      margin-bottom: auto;
      font-size: 16px;
      line-height: 1.6;
  }

  .ilkalan-resim {
      width: 100%;
      max-height: 250px;

      object-fit: contain;
      background: transparent;

      filter:
          drop-shadow(0 10px 18px rgb(255, 255, 255)) drop-shadow(0 0 20px rgba(157, 155, 155, 0.15));

      transform: perspective(800px) translateZ(12px);
      transition: transform 0.35s ease, filter 0.35s ease;
  }

  @media (hover: hover) and (pointer: fine) {
      .gridresim:hover {
          transform: perspective(800px) translateZ(24px) scale(1.02);
          filter:
              drop-shadow(0 16px 28px rgba(0, 0, 0, 0.4)) drop-shadow(0 0 30px rgba(0, 0, 0, 0.25));
      }
  }



  .kart2 {
      display: flex;
      flex-direction: column;
      flex: 0 0 100%;
      box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
      border-radius: 50%;
      padding: 1.6rem;
      cursor: pointer;

  }

  .kart-ic {
      position: relative;
      width: 100%;
      height: 320px;
      transform-style: preserve-3d;
      transition: transform 0.7s ease;
  }

  /* tıklanınca dönsün */
  .kart2.aktif .kart-ic {
      transform: rotateY(180deg);
  }

  .on,
  .arka {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border-radius: 50%;
  }

  .on img {
      width: 100%;
      height: 250px;
      border-radius: 50%;
      object-fit: cover;
      box-shadow: 0 2px 12px rgba(11, 79, 25, 0.812);
  }

  .on h2 {
      text-align: center;
      margin-top: 1rem;
  }

  .arka {
      background: #074e0369;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      transform: rotateY(180deg);
      padding: 1.5rem;
  }

  /* Mouse olan cihazlar */
  @media (hover: hover) and (pointer: fine) {
      .kart2:hover .kart-ic {
          transform: rotateY(180deg);
      }
  }


  .container3 {

      min-width: 100%;
      padding: 70px 0;
      gap: 15px;
      color: #fff;
      background:
          radial-gradient(circle at top left,
              rgba(16, 118, 30, 0.719),
              rgb(10, 85, 4));
      position: relative;
      overflow: hidden;
  }


  .container3>h2 {
      text-align: center;
      font-size: 36px;
      margin-bottom: 50px;
      letter-spacing: 1px;
      color: #000000;
      font-weight: bold;
  }

  .kart3 {
      max-width: 1100px;
      margin: auto;
      padding: 20px 15px;
      display: flex;
      gap: 20px;
      align-items: center;
      justify-content: center;
      margin-top: 40px;
      border-radius: 30px;
      backdrop-filter: blur(12px);

  }

  .bilgi {
      flex: 0 0 60%;
  }

  .bilgi h3 {
      font-size: 28px;
      margin-bottom: 15px;
      color: #000000;
      font-weight: bold;
  }

  .bilgi p {
      font-size: 16px;
      line-height: 1.8;
      color: #f1f1f1;
  }

  .bilgiresim {
      flex: 0 0 40%;
      margin: 0 auto;
  }

  .bilgiresim img {
      min-width: 75%;
      max-width: 100%;
      width: auto;
      height: auto;
      max-height: 420px;
      object-fit: cover;
      border-radius: 25px;

      transition: transform 0.5s ease;
      background-color: transparent;
  }

  .bilgiresim img:hover {
      transform: scale(1.04);
  }



  .about {
      padding: 100px 30px;
      display: flex;
      flex-direction: column;


      opacity: 0;
      transform: translateX(-80px);

      transition: opacity 0.6s ease, transform 0.6s ease;
  }

  .about.aktifyazi {
      opacity: 1;
      transform: translateX(0);
  }


  .harita {
      max-width: 1200px;
      margin: 60px auto;
      padding: 0 20px;
      text-align: center;
  }

  .harita-kutu {
      position: relative;
      width: 100%;
      padding-bottom: 56.25%;
      /* 16:9 oran */
      height: 0;
      overflow: hidden;
      border-radius: 20px;
  }

  .harita-kutu iframe {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      border: 0;
  }

  .yol-tarifi-btn {
      display: inline-block;
      margin-top: 20px;
      padding: 14px 28px;
      background-color: #d97408;
      color: #fff;
      text-decoration: none;
      font-weight: 600;
      border-radius: 30px;
      transition: all 0.3s ease;
  }

  .yol-tarifi-btn:hover {
      background-color: #db872d;
      transform: translateY(-3px);
  }



  /* BOTTOM FIXED BUTTONS */
  .bottom-bar {
      position: fixed;
      width: 100%;
      bottom: 0;
      display: flex;
      justify-content: space-between;
      z-index: 999;

  }

  .bottom-bar a {

      padding: 7px 12px;
      justify-content: center;
      align-items: center;
      display: flex;
      border-radius: 12px;
      text-align: center;
      text-decoration: none;
      font-weight: bold;
      color: #fff;
      font-size: 16px;
  }

  .call {
      background: #000000;
      min-width: 120px;

  }

  .whatsapp {
      background: #25d366;
  }

  /* FOOTER */
  footer {
      position: relative;
      background: linear-gradient(135deg, #1e1e1e, #2a2a2a);
      color: #f1f1f1;
      padding: 10px 30px 88px;
      text-align: center;
      overflow: hidden;
  }



  /* İÇERİK */
  .footericerik {
      position: relative;
      z-index: 2;
      width: 100%;
      display: flex;
      justify-content: space-between;


  }

  .footericerik div {
      width: 40%;
      margin: 12px auto;
  }


  /* METİN */
  .footericerik p {
      font-size: 14px;
      line-height: 1.6;
      opacity: 0.9;
  }

  /* ALT YAZI */
  .footericerik .copyright {
      margin-top: 20px;
      font-size: 13px;
      opacity: 0.6;
  }



  @media (max-width: 1024px) {

      .menu-toggle {
          display: flex;
          align-items: center;
          justify-content: center;
      }

      .linklerim {
          position: absolute;
          top: 70px;
          right: 0;
          width: 75%;
          height: calc(100vh - 70px);
          background: rgb(13, 148, 13);
          flex-direction: column;
          transform: translateX(100%);
          transition: 0.3s;
          overflow-y: auto;
      }

      .linklerim.aktiflik {
          transform: translateX(0);
      }

      .menu-oge {
          border-bottom: 1px solid rgba(255, 255, 255, 0.2);
          padding: 0;
          position: static;
          /* BUNU EKLE */
      }

      .menu-oge a,
      .baslik {
          padding: 14px 16px;
          color: #fff;
      }

      /* MOBİL DROPDOWN */
      .altlink {
          position: static;
          /* relative yerine static daha temiz */
          display: block;
          max-height: 0;
          overflow: hidden;
          width: 100%;
          background-color: #67cb8c;
      }

      .altlink.acik {
          max-height: 500px;
      }

      /* Hover iptal */
      .acilir:hover .altlink {
          display: block;
      }


      .slider {
          height: 65vh;
          margin-top: 87.6px;
      }

      .overlay h1 {
          font-size: 32px;
      }

      .overlay p {
          font-size: 16px;
      }




      .footericerik {
          display: block;
          margin: 10px 0;
      }

      .bottom-bar a {

          padding: 10px 16px;

      }
  }

  @media (max-width: 768px) {

      .birinci-bolum {
          grid-template-columns: 1fr;
      }

      .kart {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
      }

      .slider,
      .slide {
          height: 52vh;

      }

      .overlay {

          padding: 40px 15px;
      }

      .kart3 {
          flex-direction: column;
          gap: 30px;
          padding: 0 16px;
      }

      .bilgi,
      .bilgiresim {
          flex: 0 0 100%;
          width: 100%;
      }

      .bilgi h3 {
          font-size: 22px;
          text-align: center;
      }

      .bilgi p {
          font-size: 15px;
          line-height: 1.6;
          text-align: center;
      }

      .bilgiresim img {
          height: 260px;
          border-radius: 18px;
      }


  }



  @media (max-width: 576px) {

      .slider,
      .slide {
          height: 45vh;
          background-position: center top;
          background-color: #222;
      }

      .overlay {
          padding: 30px 15px;
      }
  }